h1{
    color: red;
}
.title{
    color: green;
}
#name{
    color: orange;
}
a[href="https://coderhose"]{
    color: orchid;
}
.card{
    background: tomato;
}
.card__title{
    font-size: 25px;
    text-align: center;
}
.card__description{
    line-height: 1.5;
}
.card__description{
    margin-top: 30px;
    margin-bottom: 15px;
}
.card__link{
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
}
.card__link--twitter{
    background-color: turquoise;
}
.card__link--instagram{
    background-color: yellow;
}
.block{
    background-color: khaki;
    display: inline;
}
.inline{
    background-color: indianred;
    color: white;
}
.boxModel{
    background-color: rgb(31, 211, 8);
    margin: 50px 0 50px 0;
    padding: 0 50px 0 50px;
    /*superior-derecha-inferior-izquierda*/
    border-bottom: 5px solid orange;
    border-top:  5px solid red;
    border-right: 5px blue;
    width: 150px;
    height: 150px;
    overflow: auto;
}
/*position*/
.boxPosition{
    width: 100px;
    height: 100px;
    background-color: royalblue; 
    display: inline-block;
}
.position{
    background-color: yellowgreen;
    position: relative;
    top: 40px;
    left: 40px;
    z-index: -1;

}
/*
.sectionPosition{
    margin-top: 200px;
    position: relative;
}
*/