*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 100px;
}
.hero{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;

}